.flex-container-horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.browse-books {
    justify-content: center;
}

.collection-category {
    & > ul > li {
        margin-top: 5px;

        & > a {
            font-size: 15px;
        }
    }

    & > h3 {

        & > a {
            color: var(--dark-gray);
            font-size: 18px;
            margin-bottom: 15px;
        }
    }
}

#browse-grid-collections ul {
    list-style: none;
}

.book-card {
    width: 200px;

    & > img {
        width: 200px;
        height: 300px;
        object-fit: cover;
        border-radius: 7px;
    }
}