.calendar {
    display: flexbox;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 50px;
    /* border: 2px solid black; */
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    /* border: 2px solid black; */
}

.calendar-nav-btn {
    border: none;
    outline: none;
    padding: 5px;
    background-color: white;
    /* background-color: var(--accent-color-main); */
    border-radius: 10px;
    transition: var(--tran-03);

    & > i {
        font-size: 30px;
        color: var(--gray);
        /* color: white; */
        transition: var(--tran-03);
    }

    &:hover {
        background-color: var(--accent-color-main);

        & > i {
            color: white;
        }
    }
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 60px;
    max-width: 1000px;
    margin: 0 auto;
    place-items: center;
    /* border: 2px solid black; */
}

.calendar-day {
    color: var(--dark-gray);
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 13vh;
    max-width: 1000px;
    margin: 0 auto;
    gap: 5px;
    background-color: var(--light-gray);
    border: 5px solid var(--light-gray);
    border-radius: 5px;
    /* border: 2px solid black; */
}

.calendar-date {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    text-align: right;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 7px;
    background-color: white;
    border-radius: 5px;
    transition: var(--tran-04);
    color: var(--dark-gray);

    &:hover {
        background-color: var(--very-light-gray);
        /* color: white; */
    }

    & > span {
        width: 100%;
        flex-shrink: 0;
        /* border: 1px solid red; */
        text-align: right;
    }
}

.calendar-events {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2px;
    margin-top: 2px;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.calendar-event-loan, .calendar-event-reservation {
    border-radius: 3px;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;

    & > i {
        text-align: left;
        color: white;
        font-size: 12px;
        margin-right: 3px;
        margin-left: 5px;
    }
}

.calendar-event-loan {
    background-color: var(--accent-color-main);
}

.calendar-event-reservation {
    background-color: var(--accent-color-secondary);
}

.calendar-today {
    color: var(--accent-color-main);
    border: 1px solid var(--accent-color-main);
    font-weight: 900;
}

.calendar-grayed-date {
    color: var(--gray);
    font-weight: 200;
}