body {
    height: 100vh;
}

main {
    margin-left: 0;
}

.signup-page-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.page-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 0;
}

.signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-right: 100px;
}

#signup-submit {
    margin-top: 10px;
    width: 300px;
    height: 35px;
    font-weight: 600;
    background-color: var(--accent-color-main);
    color: white;
    border: 2px solid var(--accent-color-main);
    border-radius: 5px;
    transition: var(--tran-03);

    &:hover {
        background-color: white;
        color: var(--accent-color-main);
    } 
}

.signup-form-input {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;

    & > p {
        font-weight: 600;
    }

    & > input {
        height: 25px;
        padding: 0 10px 0 10px;
    }
}

.other-signup {
    position: relative;
    border-left: 2px solid var(--very-light-gray);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-left: 100px;
    width: 300px;

    & > p {
        position: absolute;
        top: 47%;
        left: 0;
        transform: translate(-50%, 0);
        background: white;
        border: 2px solid var(--very-light-gray);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 30px;
        font-weight: 600;
    }

    & > div {
        padding-left: 10px;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        height: 30px;
        width: 210px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        font-weight: 600;

        & > p {
            margin-top: 3px;
            font-size: 14px;
            font-weight: 600;
        }

        &:hover {
            & > p {
                color: white;
            }
        }
    }
}

.apple-sign-in-button {
    border-color: var(--apple-black);

    & > p {
        color: var(--apple-black);
    }
}

.google-sign-in-button {
    border-color: var(--google-red);

    & > p {
        color: var(--google-red);
    }
}

.facebook-sign-in-button {
    border-color: var(--facebook-blue);

    & > p {
        color: var(--facebook-blue);
    }
}